build/.cache/*
build/.cmake
build/.cmake/*
build/CMakeFiles
build/CMakeFiles/*
build/hera.exe
assets/*
assets/
build/CMakeCache.txt
build/.ninja_log
build/.ninja_deps
.cache/
.cache/*
.vscode/
.vscode/*