build/.cache/*
build/.cmake
build/.cmake/*
build/CMakeFiles
build/CMakeFiles/*
build/hera.exe
build/cmake_install.cmake
build/build.ninja
build/.ninja_log
build/.ninja_deps
build/CMakeCache.txt
build/.ninja_log
build/.ninja_deps
.cache/
.cache/*
.vscode/
.vscode/*